@model List<Categories>

  
@if (TempData.ContainsKey("info"))
{
    <div class="alert alert-info">@TempData["info"]</div>
}
<section id="featured-services" class="featured-services">
      <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row">
        @foreach (var item in Model)
        { 

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <a href="/News/Index/@item.Id"  ></a>
            <div class="icon-box aos-init aos-animate" style="width:100%" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="/News/Index/@item.Id">@item.Name</a></h4>
              <p class="description">@item.Description</p>
            </div>
          </div>
        }
        </div>
      </div>
</section>           