@model List<ContactUs>


    <section id="testimonials" class="testimonials">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
         <h2>أراءالمستخدمين</h2>
        </div>
        <center>
          @foreach (var item in Model)
          {
                 <div class="owl-item cloned" style="width:370px">
                  <div class="testimonial-item">
                      <p style="font-size:30px">@item.Subject</p>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"> </i>                    
                      @item.Message
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>@item.Name</h3>
                    <h4>@item.Email</h4>
                  </div>
                </div>
                 
          }
          </center>
           </div>
         
        
      
    </section>