@model newsapp.Models.Categories
<br />
<br />
<br />
<br />
<br />
@{
    
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@if (TempData.ContainsKey("info"))
{
    <div class="alert alert-info">@TempData["info"]</div>
}
@if (TempData.ContainsKey("info"))
{
    <div class="alert alert-info">@TempData["info"]</div>
}

<h1 style="margin-left:30px">Edit</h1>

<h4 style="margin-left:30px">Categories</h4>
<hr />
<div class="row" style="margin-left:30px">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:15px; margin-top: 10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left:30px">
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

